{{> headers }}
<center>
    <div>
        <h1>
            <span style="color:#ff4444">Store</span>
            <span style="color:#4B515D">|</span>
            <span style="color:#33b5e5">Share</span>
            <span style="color:#4B515D">|</span>
            <span style="color:#00C851">Innovate</span>
        </h1>
    </div>
</center>
<br>
<center>
    <div style="max-width: 80%" id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
            <div class="carousel-item active" style="object-fit: cover">
                <img class="d-block w-100" src="/static/img/ec7f4d90-ca6e-11e9-97e5-a960dba4e558.jpg" alt="First slide">
            </div>
            <div class="carousel-item" style="object-fit: cover">
                <img class="d-block w-100" src="/static/img/9670912-3x2-700x467.jpg" alt="Second slide">
            </div>
            <div class="carousel-item" style="object-fit: cover">
                <img class="d-block w-100" src="/static/img/elephant-1822636_960_720.jpg" alt="Third slide">
            </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
</center>



{{> footer}}